[submodule "submodules/dotbot"]
	path = submodules/dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "submodules/oh-my-zsh"]
	path = submodules/oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule "submodules/bash_it"]
	path = submodules/bash_it
	url = https://github.com/revans/bash-it.git
[submodule "dircolors-solarized"]
	path = dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized.git
[submodule "submodules/dircolors-solarized"]
	path = submodules/dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized.git
