[submodule "submodules/dotbot"]
	path = submodules/dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "submodules/bash-it"]
	path = submodules/bash-it
	url = https://github.com/revans/bash-it.git
[submodule "submodules/oh-my-zsh"]
	path = submodules/oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
